{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/">Coursera Search</a>
        </div>
    </div>
</nav>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Coursera search Application</h1>
            <hr>
            <p>Search among the cources on coursera</p>
            <form action="/search" method="get">
              <div class="input-group">
                <input name="query" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </form>
        </div>
    </div>
</header>
{% endblock %}
